/* Ipad & Mobile  */
@media screen and (max-width: 1150px) {
  .header-siderbar {
    display: none;
  }
  .main_wrapper {
    overflow-x: hidden;
    overflow-y: auto;
  }
  .header-siderbar__toggle i {
    display: block;
    font-size: 30px;
    cursor: pointer;
  }
  .header-logo {
    width: 100%;
    max-width: 274px;
    height: 54px;
  }
  .main__item-jobs {
    height: 800px;
    width: 70%;
    display: grid;
    grid-template-columns: 50% 0 50% 0;
  }
  .main__item-job {
    margin: 0 auto;
  }
  .main__item-job-hr {
    border: none;
    border-top: 2px solid #c01616;
    margin: 10px 0;
    height: -7px;
    width: 100%;
  }
  .main__details-services {
  }
  .main__details-service {
    display: grid;
    justify-items: center;
    align-items: center;
  }
  .main__details-service__contents {
    width: 80%;
    margin-left: 0;
  }
  .main__details-service__content {
  }
  .main__details-cooperate_list {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 50px 50px;
  }
  .main__details-service__imgs {
    width: 100%;
    text-align: center;
  }
  .main__details-Featured-product {
    display: block;
  }
  .main__details-Featured-product_left--link {
    margin: 0 auto;
  }
  .main__details-Featured-product_left--ul {
    list-style: none;
    margin-left: -10%;
  }
  .main__details-Featured-product_right-imgs2 {
  }
  .main__details-Featured-product_right-img {
    margin-left: 35%;
    /* width: 60%; */
    width: 100%;
    height: 100%;
    max-width: 60%;
  }
  .main__details-Featured-product_right-imgs {
  }
  .main__details-Featured-product_left {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__details-vision {
    position: static;
    height: 2500px;
    position: static;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
  }
  .main__details-vision-wrap {
    width: 100%;
    height: 50%;
    padding-top: 50px;
  }
  .main__details-vision-wraps {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .main__details-vision-wrap1 {
    width: 100%;
    height: 700px;
    /* padding-top: 50px; */
  }
  .main__details-vision-wrap2 {
    width: 100%;
    height: 700px;
    padding-top: 50px;
  }
  .fix-posison {
    height: 0;
  }
  .main__details-vision-wrap3 {
    width: 100%;
    height: 700px;
    padding-top: 50px;
  }
  .main__item-job--img {
    width: 50%;
    height: 50%;
  }
  .main__details-banner2 {
    display: block;
    height: auto;
  }
  .main__details-banner2-box.left {
    border-top: 5px solid;
  }
  .main__details-banner2-box.rights {
  }
  .main__details-info {
    margin-top: 250px;
  }
  .footer__box-form {
    display: block;
    height: auto;
  }
  .footer__box-forms--wrap {
  }
  .main__item-job-hr1 {
    border: none;
  }
  .footer__box-forms.left {
    width: 100%;
    border-bottom: 2px solid;
  }
  .footer__box-forms.right {
    width: 100%;
  }
  .footer__box.bottoms-info {
  }
  .footer {
    height: 1500px;
    position: relative;
  }
  .footer__box.bottoms-info {
    width: 100%;
    height: 1420px;
    padding-top: 485px;
  }
  .main__details-vision-wrap-bottom {
    width: 50%;
  }
  .main__details-Featured-product_left {
    flex: 0 0 100%;
  }
  .main__details-Featured-product_right {
    align-items: center;
    justify-content: center;
    flex: 0 0 100%;
  }
  .main__details-Featured-product_left--btn {
  }
  .main__detail-Featured-product_right_img {
    transform: translate(100px, 190px);
  }
}
/* Mobile */
@media (max-width: 740px) {
  .main__details-cooperate_list {
    display: grid;
    grid-template-columns: auto;
    gap: 50px;
    justify-items: center;
  }
  .main__details-service__img1 {
    width: 100%;
  }
  .main__details-service__contents {
    margin-left: 0;
  }
  h2.main__details-Featured-product-title {
    font-size: 35px;
    width: 100%;
  }
  .main__details-Featured-product_right-imgs {
  }
  .main__details-Featured-products {
    max-width: 100%;
  }

  .main__item-jobs {
    height: auto;
    width: 70%;
    display: grid;
    grid-template-columns: 100%;
    padding: 15px 0;
  }
  .main__detail-Featured-product_right_img {
    transform: translate(100px, 190px);
  }
}
/* Ipad */
@media (min-width: 740px) and (max-width: 1023px) {
}
@media (max-width: 414px) {
  .main_wrapper {
    width: 100%;
    /* overflow: auto; */
    overflow-x: hidden;
    overflow-y: auto;
  }
  .main__details-vision-wrap-bottom {
    width: 90%;
  }
  .main__details-banner2-box {
    display: block;
    height: auto;
    width: 100%;
    /* margin: 0px 10px; */
    padding: 20px 20px 20px 20px;
  }
  .footer__box-forms--wrap {
    padding: 20px 5px 5px 5px;
  }
  .footer__box.top-info {
  }
  .footer__box-title-p {
    width: 100%;
    font-size: larger;
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .main__details-banner2-righ {
  }
  .main__details-banner2-right-p {
    font-size: medium;
    margin-top: 25px;
    text-align: center;
  }
  .main__details-banner2 {
  }
  .main__details-vision {
    height: 2200px;
    /* height: auto; */
    position: relative;
    overflow-x: hidden;
  }
  p.main__details-info-p {
    font-weight: 600;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
  }
  h2.main__details-info-title {
    font-size: 40px;
    margin-bottom: 50px;
  }
  h2.main__details-cooperate_content {
    font-size: 41px;
    margin-bottom: 20px;
  }
  .main__details-service__contents {
    width: 100%;
    text-align: center;
  }
  .main__details-Featured-product_right {
    width: 100%;
    height: 500px;
    display: flex;
    transform: translate(-15%, 10px);
  }
  .main__detail-Featured-product_right_img {
  }
  .header-logo {
    width: 140px;
    height: auto;
    transform: translate(-35px, 0px);
  }
  .footer__box-form {
    width: 95%;
    margin: 0 10px 5px 10px;
    bottom: 260px;
  }
  .footer__box.bottoms-info {
    height: 1200px;
    padding-top: 720px;
  }
  .main__details-Featured-product_right-img_ {
  }
}
