html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a,
li {
  text-decoration: none;
}
.main_wrapper {
}
/* header */
.header {
  margin: 10px 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-logo {
  width: 274px;
  height: 54px;
}
.header-siderbar-ul {
  display: flex;
  font-size: 24px;
  font-weight: 600;
  list-style: none;
}
.header-siderbar-li a {
  color: #000000;
  margin: 0 18px;
}
.header-siderbar-ul :hover {
  color: #d32121;
}
/* main */
.main {
  background-image: url("./imgs/Vector\ 13.svg");
  width: 100%;
  height: auto;
}
.main__banner {
  max-width: 100%;
  max-height: 907px;
  position: relative;
}
.main__item-jobs {
  position: relative;
  background-color: #ffffff;
  margin: 0 auto;
  width: 80%;
  height: 192px;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
  margin-top: -100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
.main__item-jobs:hover {
  color: #bd2120;
}
.main__item-job {
  width: 200px;
}
/* ouline itemjos-main*/
.main__item-job-hr {
  border: none;
  border-top: 155px solid #000;
  margin: 10px 0;
  height: -7px;
  width: 1px;
}
/* dịch vụ chúng tôi */
.main__details-services {
  width: 80%;
  margin: 0 auto;
  margin-top: 72px;
}
.main__details-service {
  display: flex;
  margin-top: 50px;
}
.main__details-service__imgs {
  /* background-image: url(./imgs/Group.png); */
  width: 50%;
  height: auto;
}
/* .main__details-service__img1 {
  position: absolute;
} */
.main__details-service__img1 {
  max-width: 694.09px;
  max-height: 534px;
}
.main__details-service__img {
  position: relative;
  /* display: flex; */
  float: right;
  /* justify-items: center; */
  /* align-items: center; */
  margin-top: 400px;
}
.main__details-service__contents {
  width: 45%;
  margin-left: 100px;
}
.main__details-service__content--size {
  font-size: 16px !important;
  font-weight: 600;
  color: #000000;
  text-align: left;
}
.main__details-service__content {
  color: #000000;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 48px;
}
.main__details-service__content--red {
  color: #bd2120;
  font-size: 32px;
  font-weight: 600;
}
.main__details-service--content {
  font-weight: 600;
  font-size: 48px;
  color: #bd2120;
  text-transform: uppercase;
  text-align: center;
}
.main__details-service__content-btn {
  width: 150px;
  height: 50px;
  border-radius: 107px;
  border: 3px solid #ec4a3c;
}
.header-siderbar__toggle i {
  display: none;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ec4a3c;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav a:hover {
  color: #000;
}
.main__details-cooperate {
  height: auto;
  width: 80%;
  margin: 0 auto;
  margin-top: 72px;
  margin-bottom: 200px;
}
.main__details-cooperate_list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  /* grid-template-rows: 100px 100px; */
  /* grid-template-columns: auto auto auto; */
  grid-gap: 8% 5%;
}
.main__details-cooperate_item {
  color: #ffffff;
  padding-top: 20px;

  background-image: radial-gradient(#ed4b3c, #b81d1d);
  font-size: 30px;
  text-align: center;
  height: 440px;
  width: 100%;
  padding-left: 50px;
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
h2.main__details-cooperate_content {
  margin-bottom: 72px;
  text-align: center;
  font-size: 48px;
  color: #bd2120;
}
.main__details-cooperate_items.detail {
  text-align: start;
  margin-top: 50px;
}
img.main__details-cooperate_items.img {
  display: flex;
  margin-bottom: 15px;
}
.main__details-cooperate_items1 {
  font-size: 30px;
}
.main__details-cooperate_items2 {
  font-size: 16px;
}
li.main__details-cooperate_items2_li {
  margin-left: 25px;
}
h1.main__details-cooperate_items {
  text-align: end;
  margin-right: 40px;
}
/* prduct */
.main__details-Featured-products {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}
.main__details-Featured-product {
  /* display: flex;
  margin-top: 20px; */
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  flex: 0 0 50%;
}
.main__details-Featured-product_left {
  height: 700px;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  justify-content: flex-start;
  flex: 0 0 40%;
}
.main__details-Featured-product_right {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  flex: 0 0 60%;
}
.main__details-Featured-product_right-imgs {
  /* text-align: center;
  margin-top: 35%;
  position: relative;
  /* margin-left: -15px; 
  margin-right: 205px; */
  /* text-align: center;
  margin-top: 230px;
  z-index: 1; */
}
.main__detail-Featured-product_right_img {
  /* position: absolute;
  /* display: flex; */
  /* margin-left: 25%; 
  left: 52%;
  top: 10%; */
  display: flex;
  flex-direction: column;
  transform: translate(100px, 190px);
  /* margin-top: 200px;
  /* margin-left: 15px; */
  /* bottom: 0; 
  left: 120px; */
}
.main__details-Featured-product_right-img_ {
  /* width: 100%;
  max-width: 369px; */
  height: 529px;
  width: 100%;
  object-fit: cover;
}
.main__details-Featured-product_right-imgs1 {
  width: 100%;
  /* max-width: 225px; */
  height: 48px;
  margin-left: 27px;
  margin-bottom: 20px;
  margin-left: -5px;
}
.main__details-Featured-product_right-imgs2 {
  /* width: 100%; */
  width: 100%;
  /* max-width: 520px; */
  height: 295px;
}
h2.main__details-Featured-product-title {
  width: 447px;
  height: 144px;
  font-size: 48px;
  color: #bd2120;
  margin-bottom: 1%;
  margin: 0 auto;
  text-align: center;
}

/*  */
h2.main__details-Featured-product_left--title {
  font-size: 48px;
  margin-bottom: 30px;
}
p.main__details-Featured-product_left--content {
  font-size: 16px;
  font-weight: 600;
}
ul.main__details-Featured-product_left--ul {
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;

  margin-bottom: 50px;
}
li.main__details-Featured-product_left--li {
  margin-top: 5%;
  margin-left: 8%;
  color: #b91e1e;
}
img.main__details-Featured-product_left--link {
  margin-bottom: 10%;
  width: 247px;
  height: 50px;
  display: block;
  cursor: pointer;
}
button.main__details-Featured-product_left--btn {
  width: 150px;
  height: 50px;
  border: 3px solid #ec4a3c;
  border-radius: 107px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}
.main__details-info {
  width: 80%;
  margin: 0 auto;
  margin-top: 100px;
}
h2.main__details-info-title {
  font-size: 48px;
  color: #bd2120;
  text-align: center;
}
p.main__details-info-p {
  font-size: 24px;
  font-weight: 600;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
}
/*  */
.main__details-vision {
  width: 100%;
  margin-top: 70px;
  /* height: 941px; */
  background-color: rgba(190, 190, 190, 0.15);
  /* position: absolute; */
  height: 850px;
  padding-top: 10px;
}
.main__details-vision-wraps {
  width: 80%;
  margin: 0 auto;
  /* height: 100%; */
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 8% 5%;
  margin-top: 100px;
}
.main__details-vision-wrap {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin: 25% auto;
}
.main__details-vision-wrap-top {
  position: absolute;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.main__details-vision-wrap-bottom {
  /* width: 100%; */
  width: 25%;
  /* max-width: 440px; */
  height: auto;
  background: rgba(255, 255, 255, 1);
  color: #000;
  margin-top: 110px;
  position: absolute;
  border-radius: 20px;
}
p.main__details-vision-wrap-bottom-content--title {
  margin-top: 30%;
  /* font-size: 28px; */
  font-weight: 600;
  font-size: x-large;
  height: 206px;
  padding: 50px;
  text-align: center;
}
.main__details-vision-wrap-bottom-content {
  background: linear-gradient(
    360deg,
    #d1332c 23.79%,
    rgba(209, 51, 44, 0) 100%
  );
  height: 140px;
  width: 100%;
  display: flex;
  font-size: 28px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  border-radius: 0px 0px 20px 20px;
}
p.main__details-vision-wrap-bottom-contents {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: smaller;
}
.main__details-vision-wrap1 {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
}
.main__details-vision-wrap2 {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
}
.main__details-vision-wrap3 {
  width: 100%;
  height: 7%;
  display: flex;
  justify-content: center;
}
.fix-posison {
  /* height: 920px;
  width: 100%; */
}
.main__details-banner2 {
  height: 299px;
  width: 100%;
  background-color: rgba(185, 30, 30, 1);
  display: flex;
}
.main__details-banner2-box {
  display: flex;
  font-size: 2;
  color: white;
  font-weight: 600;
  padding: auto 0;
  padding: 70px;
}
.main__details-banner2-right.imgs {
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__details-banner2-right {
  font-size: 24px;
}
.footer {
  width: 100%;
  height: 1240px;
  margin-top: 50px;
}
.footer__box.top-info {
  width: 100%;
  height: 40%;
  text-align: center;
}
.footer__box.bottoms-info {
  width: 100%;
  height: 60%;
  background: rgba(27, 27, 27, 1);

  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
img.bottoms-info_details {
  margin-top: 10%;
}
p.bottoms-info_details {
  margin-top: 6%;
}
.footer__box-form {
  display: flex;
  position: absolute;
  /* z-index: 1; */
  width: 80%;
  height: 417px;
  background: rgba(255, 255, 255, 1);
  /* margin: 0 auto; */
  margin-top: -280px;
  margin-left: 10%;
  border-radius: 20px;
  box-shadow: 0 1rem 2rem hsl(0 0% 0% / 20%);
  /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
    0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15); */
}
.main__item-job-hr1 {
  border: none;
  border-top: 380px solid rgba(200, 200, 200, 1);
  margin: 10px 0;
  height: -7px;
  width: 1px;
}
.footer__box-forms.left {
  width: 50%;
  height: 100%;
}
.footer__box-forms.right {
  width: 50%;
  height: 100%;
  /* background: rgb(21, 90, 151); */
}
/*  */
input[type="text"] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgba(200, 200, 200, 1);
}
input.box-forms-right-btn {
  width: 135px;
  height: 50px;
  border-radius: 61px;
  background-color: rgba(185, 30, 30, 1);
  border: none;
  color: white;
  margin-top: 50px;
}
form.box-forms-right {
  width: 85%;
  margin: 60px auto;
  margin-top: 20px;
  height: 100%;
  /* padding: 20px; */
  font-size: 20px;
}
.footer__box-title-p {
  font-size: 24px;
  font-weight: 600;
  width: 45%;
  height: 60px;
  margin: 0 auto;
  margin-top: 10px;
}
.footer__box-forms-left i {
  margin-right: 20px;
}
.footer__box-forms--wrap {
  padding: 40px 60px 40px 60px;
}
.footer__box-forms-left {
  display: flex;
  margin-bottom: 65px;
  font-size: 24px;
  font-weight: 500;
  align-items: center;
}
