<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dịch vụ của chúng tôi</title>
    <link rel="stylesheet" href="./reset.css" />
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="./reponse/tablet.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <img src="../../assets/imgs/Logo.svg" class="header-logo" />
        <div class="header-siderbar">
          <ul class="header-siderbar-ul">
            <li class="header-siderbar-li">
              <a href="../../index.html">Trang chủ</a>
            </li>
            <li class="header-siderbar-li"><a href="">Các sản phẩm</a></li>
            <li class="header-siderbar-li">
              <a href="./components/dichvu/index.html">Dịch vụ</a>
            </li>
            <li class="header-siderbar-li"><a href="">Về chúng tôi</a></li>
            <li class="header-siderbar-li"><a href="">Liên hệ</a></li>
          </ul>
        </div>
        <span class="header-siderbar__toggle" onclick="open_nav()"
          ><i class="fas fa-bars"></i
        ></span>
        <!-- reponse -->
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a
          >
          <a href="">Trang chủ</a>
          <a href="">Các sản phẩm</a>
          <a href="">Dịch vụ</a>
          <a href="">Về chúng tôi</a>
          <a href="">Liên hệ</a>
        </div>
      </div>
      <div class="main">
        <div class="main_wrapper">
          <div class="main_wrappers title">
            <span>Dịch vụ của chúng tôi</span>
          </div>
          <div class="main_wrappers img">
            <img src="../../assets/imgs/dichvu/silde.svg" alt="" />
          </div>
          <div class="main_wrappers box">
            <div class="main_wrapper-item">
              <img
                class="main_wrapper-items img"
                src="../../assets/imgs/dichvu/01.svg"
                alt=""
              />
              <h3 class="main_wrapper-items title">Thiết kế website</h3>
              <p class="main_wrapper-items p">
                Chúng tôi tùy chỉnh thiết kế trang web cao cấp dựa trên các
                chiến lược thông minh lấy thương hiệu làm trung tâm, đầy đủ chức
                năng, chuẩn SEO và hướng đến kết quả là chuyên môn của chúng
                tôi.
              </p>
            </div>
            <div class="main_wrapper-item">
              <img
                class="main_wrapper-items img"
                src="../../assets/imgs/dichvu/02.svg"
                alt=""
              />
              <h3 class="main_wrapper-items title">Phát triển phần mềm</h3>
              <p class="main_wrapper-items p">
                Chúng tôi có nhiều kinh nghiệm trong việc phát triển các giải
                pháp phần mềm thân thiện với người dùng cho hệ điều hành Windows
                và Mac.Chúng tôi cung cấp toàn bộ quy trình phát triển máy tính
                để bàn, từ ý tưởng thô đến sản phẩm cho nhu cầu kinh doanh của
                bạn.
              </p>
            </div>
            <div class="main_wrapper-item">
              <img
                class="main_wrapper-items img"
                src="../../assets/imgs/dichvu/03.svg"
                alt=""
              />
              <h3 class="main_wrapper-items title">
                Xây dựng hệ thống quản lý thông tin
              </h3>
              <p class="main_wrapper-items p">
                Chúng tôi có nhiều kinh nghiệm trong việc phát triển các giải
                pháp phần mềm thân thiện với người dùng cho hệ điều hành Windows
                và Mac.Chúng tôi cung cấp toàn bộ quy trình phát triển máy tính
                để bàn, từ ý tưởng thô đến sản phẩm cho nhu cầu kinh doanh của
                bạn.
              </p>
            </div>
            <div class="main_wrapper-item">
              <img
                class="main_wrapper-items img"
                src="../../assets/imgs/dichvu/04.svg"
                alt=""
              />
              <h3 class="main_wrapper-items title">
                Tư vấn giải pháp chuyển đổi số
              </h3>
              <p class="main_wrapper-items p">
                Chúng tôi có nhiều kinh nghiệm trong việc phát triển các giải
                pháp phần mềm thân thiện với người dùng cho hệ điều hành Windows
                và Mac.Chúng tôi cung cấp toàn bộ quy trình phát triển máy tính
                để bàn, từ ý tưởng thô đến sản phẩm cho nhu cầu kinh doanh của
                bạn.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-wapper">
          <div class="footer-wappers top">
            <h1 class="footer-wappers__top h1">Liên hệ chúng tôi</h1>
            <p class="footer-wappers__top p">
              Hãy cùng trải nghiệm dịch vụ của chúng tôi. Dịch vụ tốt nhất -
              Hiệu quả nhanh chóng - Giá tốt nhất
            </p>
          </div>
          <div class="footer-wappers-mid">
            <div class="footer__box-form">
              <div class="footer__box-forms left">
                <div class="footer__box-forms--wrap">
                  <div class="footer__box-forms-left">
                    <i class="fas fa-map-marker-alt"></i>
                    <p class="content-p">
                      Địa chỉ: Tầng 3 tòa nhà Hoàng Gia Plaza, Đ. Quang Trung,
                      P. Tân Thịnh, TP. Thái Nguyên
                    </p>
                  </div>
                  <div class="footer__box-forms-left">
                    <i class="fas fa-envelope"></i>
                    <p class="content-p">Email: info@minhhoangjsc.com</p>
                  </div>
                  <div class="footer__box-forms-left">
                    <i class="fas fa-phone-alt"></i>
                    <p class="content-p">Điện thoại: 077 202 3333</p>
                  </div>
                </div>
              </div>
              <div class="main__item-job-hr1"></div>
              <div class="footer__box-forms right">
                <form class="box-forms-right">
                  <label class="box_label" for="fname"
                    ><span style="font-weight: 600">Tên: </span>Tên của
                    bạn</label
                  >
                  <input type="text" id="fname" name="fname" />
                  <label class="box_label" for="fname"
                    ><label style="font-weight: 600">Email: </label>Email của
                    bạn</label
                  >
                  <input type="text" id="fname" name="fname" />
                  <label class="box_label" for="fname"
                    ><label style="font-weight: 600">Lý do: </label>Tại sao bạn
                    tiếp cận với chúng tôi?</label
                  >
                  <input type="text" id="fname" name="fname" />
                  <label class="box_label" for="fname"
                    ><label style="font-weight: 600">Tin nhắn: </label>Hãy cho
                    chúng tôi biết làm thế nào để giúp bạn<br
                  /></label>
                  <input type="submit" class="box-forms-right-btn" />
                </form>
              </div>
            </div>
          </div>
          <div class="footer-wappers bottom">
            <img
              class="footer-wappers--bottom img"
              src="../../assets/imgs/footer/logo.svg"
              alt=""
            />
            <p class="footer-wappers--bottom p1">
              Để được phản hồi nhanh nhất, vui lòng liên hệ với chúng tôi qua
            </p>
            <p class="footer-wappers--bottom p2">Đã đăng ký Bản quyền</p>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="./style.js"></script>
</html>
